$primary-colour: #fff;
$secondary-colour: whitesmoke;
$landing-text-primary: #09383E;
$landing-text-secondary: #0C383E;
$general-text-colour1: black;
$general-text-colour2: rgb(81, 81, 81);
$hover-color: rgb(47, 150, 184);