
@use "../media-queries/devices";

@mixin screen-size($min, $max: 5000px) {
    @media only screen and (min-width: ($min +1)) and (max-width: $max) {
        @content;
    }
}





/*
        @media only screen and (max-width: 320px) {
            display: flex;
            flex-wrap: wrap;
            width: 60vw;
        }
        @media only screen and (min-width: 321px) and (max-width: 600px) {
            display: flex;
            flex-wrap: wrap;
            width: 60vw;
        }

        @media only screen and (min-width: 601px) and (max-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            width: 55vw;
        }

        @media only screen and (min-width: 769px) and (max-width: 992px) {
            display: flex;
            flex-wrap: wrap;
            width: 45vw;
        }
        @media only screen and (min-width: 993px) and (max-width: 1200px) {
            display: flex;
            flex-wrap: wrap;
            width: 35vw;
        }
        @media only screen and (min-width: 1201px) and (max-width: 1440px) {
            display: flex;
            flex-wrap: wrap;
            width: 30vw;
        }
        @media only screen and (min-width: 1441px) {
            display: flex;
            flex-wrap: wrap;
            width: 30vw;
        }
    }  
}

*/