@use "../media-queries/devices";

@mixin screen-size($min, $max: 5000px) {
    @media only screen and (min-width: ($min +1)) and (max-width: $max) {
        @content;
    }
}

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}