.container__item {
  margin: 0 auto 40px;
  background-color: whitesmoke;
}

.landing-page-container {
  width: 100%;
  min-height: 100%;
  height: 90rem;
  font-family: "Montserrat", sans-serif;
  color: #09383E;
}

.content__wrapper {
  max-width: 1440px;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.header {
  width: 100%;
  height: 2rem;
  padding: 4.5rem 0;
}

.heading {
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  line-height: 1.7rem;
  margin: 0 auto;
  text-align: left;
  opacity: 0.5;
}

.coords {
  font-size: 1rem;
  display: inline-block;
  transform: rotate(-90deg) translateY(50%);
  float: left;
  position: relative;
  top: 40%;
  letter-spacing: 0.2rem;
  left: -11.5rem;
  margin: 0;
}

.ellipses-container {
  width: 80%;
  max-width: 500px;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  top: 10.5rem;
}
.ellipses-container .greeting {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(55%, -50%);
  text-transform: uppercase;
  letter-spacing: 1.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  opacity: 0.5;
}
@media only screen and (min-width: 601px) and (max-width: 5000px) {
  .ellipses-container .greeting {
    font-size: 2.2rem;
    letter-spacing: 2rem;
    top: 30%;
  }
}
.ellipses-container .greeting:after {
  content: "";
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  display: inline-block;
  background-color: #0C383E;
  position: relative;
  top: -2.35rem;
  left: 11.35rem;
}
@media only screen and (min-width: 601px) and (max-width: 5000px) {
  .ellipses-container .greeting:after {
    top: -3.35rem;
    left: 15.45rem;
  }
}

.ellipses {
  border-radius: 50%;
  position: absolute;
  top: 0;
  border-style: solid;
}

.ellipses__outer--thin {
  width: 100%;
  padding-top: 100%;
  border-width: 1px;
  position: relative;
  border-color: rgba(9, 56, 62, 0.1);
  animation: ellipsesOrbit 15s ease-in-out infinite;
}
.ellipses__outer--thin:after {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  opacity: 0.15;
}

.ellipses__outer--thick {
  width: 99.5%;
  padding-top: 99.5%;
  border-color: #09383E transparent;
  border-width: 2px;
  transform: rotate(-45deg);
  animation: ellipsesRotate 15s ease-in-out infinite;
}

.ellipses__orbit {
  width: 2.5rem;
  height: 2.5rem;
  border-width: 2px;
  border-color: #09383E;
  top: -1.25rem;
  right: calc(50% - 1.25rem);
}
.ellipses__orbit:before {
  content: "";
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  display: inline-block;
  background-color: #09383E;
  margin: 0 auto;
  left: 0;
  right: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@keyframes ellipsesRotate {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}
@keyframes ellipsesOrbit {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: #fff;
  color: rgb(81, 81, 81);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

section {
  padding: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navbar__menu__container {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 30px;
}
@media only screen and (min-width: 321px) and (max-width: 5000px) {
  .navbar__menu__container {
    justify-content: space-around;
    flex-direction: row;
  }
}
.navbar__menu__container__text {
  font-size: 16px;
  text-decoration: none;
  color: black;
  opacity: 0.5;
  transition: 150ms ease-in-out;
  position: relative;
}
.navbar__menu__container__text:before {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  top: 0;
  right: 50%;
  transition: 150ms ease-in-out;
  transform: translateX(50%);
  background-color: rgb(47, 150, 184);
  display: block;
}
.navbar__menu__container__text:hover {
  color: rgb(47, 150, 184);
}
.navbar__menu__container__text:hover:before {
  width: 100%;
}

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 3em;
}
.skills__card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: stretch;
  align-items: center;
  margin: 10px;
  margin-bottom: 20px;
  position: relative;
  left: 5%;
}

.projects {
  background-color: whitesmoke;
}
.projects__head {
  margin-top: 50px;
  margin-bottom: 20px;
}
.projects__group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 50px;
}
.projects__group__item {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media only screen and (min-width: 601px) and (max-width: 5000px) {
  .projects__group__item {
    margin-right: 50px;
    margin-left: 50px;
  }
}
.projects__group__item__name {
  margin-top: 25px;
}
.projects__group__item__desc {
  margin-bottom: 15px;
}
.projects__group__item__thumbnail {
  background-color: #fff;
  max-width: 400px;
  width: 100%;
  border: 2px solid rgb(237, 236, 236);
  border-radius: 50px;
  transition: 150ms ease-in-out;
  box-shadow: 10px 10px 15px 2px rgba(0, 0, 0, 0.2);
}
.projects__group__item__thumbnail:hover {
  transform: translate(4px, 4px);
  box-shadow: 20px 20px 20px 2px rgba(0, 0, 0, 0.2);
}
.projects__group__item__container__links {
  color: rgb(81, 81, 81);
  text-decoration: none;
  font-size: 18px;
  word-spacing: 8px;
}

.fa-solid:hover {
  color: rgb(47, 150, 184);
}

.fa-brands:hover {
  color: rgb(47, 150, 184);
}

.about__img {
  margin-bottom: 30px;
  max-width: 400px;
  width: 100%;
  border-radius: 50px;
  transition: 150ms ease-in-out;
  box-shadow: 10px 10px 15px 2px rgba(0, 0, 0, 0.2);
}
.about__img:hover {
  transform: translate(4px, 4px);
  box-shadow: 20px 20px 20px 2px rgba(0, 0, 0, 0.2);
}
.about__head {
  margin-top: 50px;
}
.about__para {
  padding: 10px;
  margin: 20px;
  text-align: left;
}
.about__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 10px;
}
@media only screen and (min-width: 993px) and (max-width: 5000px) {
  .about__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 70px;
    width: 100%;
  }
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 100%;
  background-color: whitesmoke;
}
.contact__head {
  margin-top: 100px;
  margin-bottom: 20px;
}
.contact__container {
  line-height: 3em;
  margin-top: 20px;
  margin-bottom: 100px;
}
.contact__container__text {
  color: rgb(81, 81, 81);
  text-decoration: none;
}
.contact__container__text:hover {
  color: rgb(47, 150, 184);
}

footer {
  background-color: whitesmoke;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}
