/*
        @media only screen and (max-width: 320px) {
            display: flex;
            flex-wrap: wrap;
            width: 60vw;
        }
        @media only screen and (min-width: 321px) and (max-width: 600px) {
            display: flex;
            flex-wrap: wrap;
            width: 60vw;
        }

        @media only screen and (min-width: 601px) and (max-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            width: 55vw;
        }

        @media only screen and (min-width: 769px) and (max-width: 992px) {
            display: flex;
            flex-wrap: wrap;
            width: 45vw;
        }
        @media only screen and (min-width: 993px) and (max-width: 1200px) {
            display: flex;
            flex-wrap: wrap;
            width: 35vw;
        }
        @media only screen and (min-width: 1201px) and (max-width: 1440px) {
            display: flex;
            flex-wrap: wrap;
            width: 30vw;
        }
        @media only screen and (min-width: 1441px) {
            display: flex;
            flex-wrap: wrap;
            width: 30vw;
        }
    }  
}

*/
.body {
  background-color: whitesmoke;
  color: black;
  font-family: "Montserrat", sans-serif;
}
@media only screen and (min-width: 1px) and (max-width: 320px) {
  .body {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
  }
}
@media only screen and (min-width: 321px) and (max-width: 600px) {
  .body {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
  }
}
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .body {
    display: flex;
    flex-wrap: wrap;
    width: 95vw;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .body {
    display: flex;
    flex-wrap: wrap;
    width: 95vw;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .body {
    display: flex;
    flex-wrap: wrap;
    width: 95vw;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1440px) {
  .body {
    display: flex;
    flex-wrap: wrap;
    width: 95vw;
  }
}
@media only screen and (min-width: 1441px) and (max-width: 5000px) {
  .body {
    display: flex;
    flex-wrap: wrap;
    width: 95vw;
  }
}

.nav__menu {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.projects__group__item--thumbnail, .about__img {
  border: 2px solid black;
}
@media only screen and (min-width: 1px) and (max-width: 320px) {
  .projects__group__item--thumbnail, .about__img {
    display: flex;
    flex-wrap: wrap;
    width: 60vw;
  }
}
@media only screen and (min-width: 321px) and (max-width: 600px) {
  .projects__group__item--thumbnail, .about__img {
    display: flex;
    flex-wrap: wrap;
    width: 60vw;
  }
}
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .projects__group__item--thumbnail, .about__img {
    display: flex;
    flex-wrap: wrap;
    width: 55vw;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .projects__group__item--thumbnail, .about__img {
    display: flex;
    flex-wrap: wrap;
    width: 45vw;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .projects__group__item--thumbnail, .about__img {
    display: flex;
    flex-wrap: wrap;
    width: 35vw;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1440px) {
  .projects__group__item--thumbnail, .about__img {
    display: flex;
    flex-wrap: wrap;
    width: 30vw;
  }
}
@media only screen and (min-width: 1441px) and (max-width: 5000px) {
  .projects__group__item--thumbnail, .about__img {
    display: flex;
    flex-wrap: wrap;
    width: 30vw;
  }
}
