@use "./partials/palette";
@use "./partials/typography";
@use "./media-queries/devices";
@use "./modules/mixins";


// Landing Page Theme

.container__item {
    margin: 0 auto 40px;
    background-color: palette.$secondary-colour;
}

.landing-page-container {
    width: 100%;
    min-height: 100%;
    height: 90rem;
    font-family: typography.$primary-font;
    color: palette.$landing-text-primary;
}

.content__wrapper {
    max-width: 1440px;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.header {
    width: 100%;
    height: 2rem;
    padding: 4.5rem 0;
}

.heading {
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    line-height: 1.7rem;
    margin: 0 auto;
    text-align: left;
    opacity: 0.5;
}

.coords {
    font-size: 1rem;
    display: inline-block;
    transform: rotate(-90deg) translateY(50%);
    float: left;
    position: relative;
    top: 40%;
    letter-spacing: 0.2rem;
    left: -11.5rem;
    margin: 0;
}

.ellipses-container {
    width: 80%;
    max-width: 500px;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    top: 10.5rem;

    .greeting {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(55%, -50%);
        text-transform: uppercase;
        letter-spacing: 1.5rem;
        font-size: 1.6rem;
        font-weight: 400;
        opacity: 0.5;
        
        @include mixins.screen-size(devices.$xs) {
            font-size: 2.2rem;
            letter-spacing: 2rem;
            top: 30%;
        }

        &:after{
            content: '';
            width: 0.3rem;
            height: 0.3rem;
            border-radius: 50%;
            display: inline-block;
            background-color: palette.$landing-text-secondary;
            position: relative;
            top: -2.35rem;
            left: 11.35rem;

            @include mixins.screen-size(devices.$xs) {
                top: -3.35rem;
                left: 15.45rem;
            }
        }
    }
}

.ellipses {
    border-radius: 50%;
    position: absolute;
    top: 0;
    border-style: solid;
}

.ellipses__outer--thin {
    width: 100%;
    padding-top: 100%;
    border-width: 1px;
    position: relative;
    border-color: rgba(9, 56, 62, 0.1);
    animation: ellipsesOrbit 15s ease-in-out infinite;

    &:after {
      content: "";
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      opacity: 0.15;
    }
}

.ellipses__outer--thick {
    width: 99.5%;
    padding-top: 99.5%;
    border-color: palette.$landing-text-primary transparent;
    border-width: 2px;
    transform: rotate(-45deg);
    animation: ellipsesRotate 15s ease-in-out infinite;
}

.ellipses__orbit {
    width: 2.5rem;
    height: 2.5rem;
    border-width: 2px;
    border-color: palette.$landing-text-primary;
    top: -1.25rem;
    right: calc(50% - 1.25rem);

    &:before {
        content: '';
        width: 0.7rem;
        height: 0.7rem;
        border-radius: 50%;
        display: inline-block;
        background-color: palette.$landing-text-primary;
        margin: 0 auto;
        left: 0;
        right: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

@keyframes ellipsesRotate {
    0% {
        transform: rotate(-45deg);
    }

    100% {
        transform: rotate(-405deg);
    }
}

@keyframes ellipsesOrbit {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}


// General Styling

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;  
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: palette.$primary-colour;
    color: palette.$general-text-colour2;
    font-family: typography.$primary-font;
    font-size: 16px;  
}

section {
    padding: 20px;
    margin: 0 auto;    
    @include mixins.flex;
    flex-direction: column;
}

// Navbar Styling

.navbar {
    &__menu__container {
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 30px;

        @include mixins.screen-size(devices.$xxs) {
            justify-content:space-around;
            flex-direction: row;
        }  
       
        &__text {
            font-size:16px;
            text-decoration: none;
            color: palette.$general-text-colour1;
            opacity: 0.5;
            transition: 150ms ease-in-out;
            position: relative;
            
            &:before {
                content: '';
                width: 0;
                height: 2px;
                position: absolute;
                top: 0;
                right: 50%;
                transition: 150ms ease-in-out;
                transform: translateX(50%);
                background-color: palette.$hover-color;
                display: block;
            }

            &:hover {
                color: palette.$hover-color;

                &:before {
                    width: 100%;
                }
            }          
        }
    }
}

// Skills Styling

.skills{
    @include mixins.flex;
    line-height: 3em;
    
    &__card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: stretch;
        align-items: center;
        margin: 10px;  
        margin-bottom: 20px; 
        position: relative;
        left: 5%;        
    }
}

// Projects Styling

.projects {
    background-color: palette.$secondary-colour;
   
    &__head {
        margin-top: 50px;
        margin-bottom: 20px;
    }

    &__group {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 50px;
 
       
        &__item {
            margin-bottom: 40px;
            @include mixins.flex;
            flex-direction: column;

            @include mixins.screen-size(devices.$xs) {
                margin-right: 50px;
                margin-left: 50px;
            }

            &__name {
                margin-top: 25px;
            }

            &__desc {
                margin-bottom: 15px;
            }

            &__thumbnail {
                background-color: palette.$primary-colour;
                max-width: 400px;
                width: 100%;
                border: 2px solid rgb(237, 236, 236);
                border-radius: 50px;
                transition: 150ms ease-in-out;
                box-shadow: 10px 10px 15px 2px rgba(0, 0, 0, 0.2);
                &:hover {
                    transform: translate(4px, 4px);
                    box-shadow: 20px 20px 20px 2px rgba(0, 0, 0, 0.2);
                }
            }     
            
            &__container {
                &__links {
                    color: palette.$general-text-colour2;
                    text-decoration: none;
                    font-size: 18px;
                    word-spacing: 8px;
                }
            }
        }
    }   
}


.fa-solid:hover {
    color: palette.$hover-color;
}

.fa-brands:hover {
    color: palette.$hover-color;
}


// About Styling

.about { 
   
    &__img {
        margin-bottom: 30px;
        max-width: 400px;
        width: 100%;
        border-radius: 50px;
        transition: 150ms ease-in-out;
        box-shadow: 10px 10px 15px 2px rgba(0, 0, 0, 0.2);
        &:hover {
            transform: translate(4px, 4px);
            box-shadow: 20px 20px 20px 2px rgba(0, 0, 0, 0.2);
        }
    }

    &__head {
        margin-top: 50px;
    }
    &__para {
        padding: 10px;
        margin: 20px;
        text-align:left;
    }

    &__container {
        @include mixins.flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 10px;
    
        @include mixins.screen-size(devices.$md) {
            @include mixins.flex;
            flex-direction: row;
            flex-wrap: nowrap;
            padding: 70px;
            width: 100%;
        }
    }
}

// Contact Styling

.contact {
    @include mixins.flex;
    text-align: left;
    width: 100%;
    background-color: palette.$secondary-colour;
   
    &__head {
        margin-top:100px;
        margin-bottom: 20px;
    }
    &__container {
        line-height: 3em;
        margin-top: 20px;
        margin-bottom: 100px;
        &__text {
            color: palette.$general-text-colour2;
            text-decoration: none;
            &:hover {
                color:palette.$hover-color;
            }
        }
    }
}

// Footer Styling

footer {
    background-color: palette.$secondary-colour;
    text-align:center;
    padding: 10px;  
    margin-bottom: 10px;
    }

