// Standard Breakpoints for different screen sizes

$xs: 600px; // Smartphones
$sm: 768px; // Tablets portraits
$md: 992px; // Tablets Landscape
$lg: 1200px; // Laptops
$xl: 1440px; // Desktop monitor
